.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 1% !important;
}

/* Estilo em computadores */
@media (min-width: 768px) {
    navbar-default .navbar-nav>li>a {
        color: #777;
        font-size: 20px !important;
        padding-top: 58% !important;
    }

    .navbar-nav>li {
        float: left;
        font-size: 20px !important;
        padding-top: 58% !important;
    }

    header .navbar-nav .dropdown-menu {
        top: 128px !important;
        border-radius: 3px;
        border-color: #fb6c6c;
    }

    footer p a {
        font-size: 20px !important;
        line-height: 26px;
        text-transform: uppercase;
        letter-spacing: 0.055em;
        color: #fff;
    }

    .tamanho-contato {
        font-family: Arial;
        font-size: 24px !important;
    }

    .row {
        margin-left: -15px;
        margin-right: -15px;
        display: flex;
        justify-content: center;
        margin-top: 2% !important;
    }

    footer {
        padding: 96px 0 !important;
        background: #e32b2b;
        text-align: center;
    }


}

/* Estilo em celulares */
@media (max-width: 767px) {
    .tamanho-contato {
        font-family: Arial;
        font-size: 15px !important;
    }

    .default-heading h2 {
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 25px !important;
    }

    .container {
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 4% !important;
    }
}

.produtos {
    padding-top: 15px;
    padding-bottom: 30px;
}

.titulo-produto {
    text-align: center !important;
}

.subtitulo-produto {
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 22px !important;
}

.imagem-produto {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.default-heading h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 32px;
    text-decoration: underline red;
}

.descricao-produto {
    border: 1px solid black;
    text-align: left;
}

#sabor {
    margin-right: 3% !important;
}